# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ehjnosczofdoroillbyd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoam5vc2N6b2Zkb3JvaWxsYnlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MzI4MTYsImV4cCI6MjA5ODQwODgxNn0.m1D6lPRF6LVnJYrHnd1PNVHd7gSO2p3CNgPlw9EoZKY